.container-fluid{

}

.pagetop{
    text-align: center;
    font-family: 'Trattatello', 'fantasy';
}

.welcometo{
    font-size: 20px;
}

.gametitle{
    font-size: 40px;
}

body{
    background-image: url("../images/background.jpg");
    background-size: cover;
}

#display {
    text-align: center;
    margin-top: 175px;
    font-size: 50px;
    margin-bottom: 40px;
}

p {
    text-align: center;
    font-size: 25px;
    /* background: rgba(255,255,255, 0.2); */
    text-shadow: white 0px 0px 10px;
}